<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save 테스트</title>
</head>
<body>
<h1> member save test 입니다. </h1>
<form th:action="@{/member/save}" th:object="${MemberFormDto}" method="post">
    <table class="table">
        <tbody>
        <tr>
            <td> id</td>
            <td><input type="text" th:field="*{memberId}" id="memberId"></td>
        </tr>
        <tr>
            <td> password</td>
            <td><input type="text" th:field="*{password}" id="password"></td>
        </tr>
        <tr>
            <td> email</td>
            <td><input type="text" th:field="*{email}" id="email"></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">회원가입</button>
</form>
</body>
</html>
